<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Avatar</ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
        <!-- <img src="./assets/stan-lee.jpg"> -->
        <ion-img src="./assets/stan-lee.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-chip color="primary" outline="true">
    <ion-avatar>
      <img src="/assets/stan-lee.jpg">
    </ion-avatar>
    <ion-label>Stan Lee</ion-label>
  </ion-chip>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/stan-lee.jpg">
      </ion-avatar>
      <ion-label>Stan Lee</ion-label>

    </ion-item>
    <ion-item>
      <ion-label>Stan Lee</ion-label>
      <ion-avatar slot="end">
        <img src="/assets/stan-lee.jpg">
      </ion-avatar>

    </ion-item>
  </ion-list>

</ion-content>